body {
  padding-top: 56px;
  height: 100vh;
  background-color: #18191a;
}

.body-box {
  background-color: #18191a;
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  padding-top: 16px;
  background-color: #18191a;
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  justify-content: center;
  height: 100vh;
}

.body-boxes {
  height: 100vh;
}

.left {
  left: 8px;
}

.right {
  right: 0px;
}
