*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-sticker {
    height: 56px;
    position: sticky;
    top: 0;
    background-color: #242526;
    line-height: 56px;
    display: flex;
}

.left-side-header {
    border-radius: 1000px;
    display: flex;
    align-items: center

}

.left-side-header img {
    height: 40px;
    margin-left: 16px;

}

.left-side-header input {
    margin-left: 8px;

}