.right-side-body-box {
}

.sponsor {
  padding-top: 20px;
  padding-bottom: 16px;
  color: #e4e6eb;
  font-weight: 600;
  size: 1.0625rem;
  border-bottom: 1px solid #3e4042;
  width: 100%;
  text-align: start;
}

.friend-request-title {
  padding-top: 20px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  color: #b0b3b8;
  font-weight: 600;
  font-size: 1.0625rem;
  align-items: center;
}

.friend-request-title > a {
  text-decoration: none;
  color: #4599ff;
  font-weight: 400;
  font-size: 0.9375rem;
  border-radius: 4px;
  padding: 10px;
}

.friend-request-title > a:hover {
  background-color: #ffffff0d;
}
