

.status-post-handle-box {
  display: block;
  color: white;
  padding: 12px 16px 10px 16px;
  margin: 16px 0;
  background-color: #242526;
  border-radius: 8px;
}

.status-post-handle {
  display: flex;
  flex-direction: row;
}

.up {
  display: flex;
  align-items: center;
}
.up > p{
    width: 100%;
    text-align: start;
    margin-left: 8px;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #3a3b3c;
    color: #b0b3b8;
    font-size: 1.0625rem;
}

.up > p:hover{
  background-color: #ffffff36;
  cursor: pointer;
}

.up > img {
  height: 40px;
}

.down{
    padding-top: 8px;
    border-top: solid 1px #ffffff1a;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.status-post-btn{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
}

.status-post-btn:hover{
    background-color: #ffffff1a;
    cursor: pointer;
}

.status-post-btn > img {
    margin-right: 8px;
}