.header-popup-header > p {
  padding: 16px 12px 16px 4px;
  color: #e4e6eb;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: start;
}

.header-popup-wrap > .search-input-header > input {
  border: none;
  color: #e4e6eb;
  padding: 0 16px;
  margin: 8px 0;
  width: 100%;
}

.header-popup-wrap > .search-input-header > input:focus-visible {
  outline: none;
}
